*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 50PX;
    line-height: 64PX;
    color:#222;
}
h2{
    font-size: 46X;
    line-height: 54PX;
    color:#222;
}
h4{
    font-size: 20px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color:#465b52;
    margin :15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
margin:40px 0;
}
body{
    width:100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 9999;
    position: sticky;
    top:0;
    left:0;
}
.head p{
    color:chocolate;
    padding-top: 0;
    margin-top: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}
#search-bar{
margin-bottom: 0;
display: flex;
justify-content: right;
padding-top: 20px;
margin-top: 20px;
}
#product1{
    text-align: center;
}
#product1 .products{
    justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(182, 10, 10, 0.06);
}
#product1 .product img{
    width:100%;
    height: 300px;
    border-radius: 20px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0;
}
#newsletter p span{
    color:#ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter INPUT{
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;
}
#newsletter button{
    background-color: #088178;
    color:#fff;
    white-space: nowrap;
    width:100px;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom:30PX;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
footer .colpay img{
    margin: 10px 0 15px 0;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
#page-header.about-header{
    background-color: aqua;
    height:auto;
}
#page-header{
    text-align: center;
    padding: 5px;
    margin: 10px;
}
table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th, td {
padding: 10px;
border: 1px solid #ddd;
text-align: left;
}

th {
background-color: #333;
color: white;
}

.product-row:hover {
background-color: #f2f2f2;
}

button {
 padding: 5px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.delete-button {
background-color: #ff3333;
 }
 #cart{
    text-align:center;
    border: 2px solid orange;
 }
#cart-total{
    font-size:larger;
}
/*---------------------------*/
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#menu li a{
    text-decoration:none;
    font-size: 30px;
    font-weight: 600;
    color: #4CAF50;
   
    
}
#menu li a:hover,
#menu li a.active{
    color: #088178;
}
#menu li a.active::after,
#menu li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}
#storage{
    text-align: center;
    color:blue;
    padding:10px;
    margin-bottom: 50px;
    background-image:url("image/bg2.png");
    background-size: cover;
    background-position: center;
}
